@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    outline: none;
    box-sizing: border-box;
}
::placeholder {
    font-size: 1rem;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#root {
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
